*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.header{
    margin-top: 2%;
}

.me-1{
    text-align: center;
}
.me-1 h1{
   font-weight: bolder;
    font-style: italic;
    font-size: 38px; 
    color: rgb(39, 83, 83);
    margin-top: 4%;
}
.me-1 img{
    margin-top: 3%;
    border: 2px solid white;
    border-radius: 70%;
    
}
.I{
    color: white;
    text-align: center;
    margin-top: 2%;
}
.I h2{
    color: rgb(39, 83, 83);
    font-size: 20px;
}
.I p{
    margin-top: 1%;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 10%;
}


    
    
